# Instace Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Extras
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
journeymap/

logs/

BotaniaVars.dat

usercache.json

usernamecache.json

settings.ps1

/mods

minecraftinstance.json

/local

patchouli_data.json

realms_persistence.json

/crashreports

/config/sidebar_buttons.json

/screenshots